<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layout.css">
</head>
<body>
    <header>
        <h1 id="title"></h1>
        <div class="topnav">
            <div class="menu"></div>
            <div class="menu"></div>
            <div class="menu"></div>
        </div>
    </header>
    <div class="toggle" id="firstToggle"><a href="/">Home</a></div>
    <div class="toggle" id="searchNav"><a href="#">Search</a></div>
    <div class="card">
            <img src="<%= book.image_url %>" alt="">     
            <h2><%= book.title %> </h2>
            <h2><%= book.author %></h2>
            <h2><%= book.isbn%></h2>
            <p><%= book.description %></p>
    </div>
    <footer>
        <button class="FB"></button>
        <button class="FB"></button>
        <button class="FB"></button>
        <button class="FB"></button>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="app.js"></script>
</body>
</html>